.env
.venv/
__pycache__/
*.pyc
.DS_Store
calls/*
!calls/.gitkeep
!calls/pgai-01_routine_appointment-778b0129/
!calls/pgai-01_routine_appointment-778b0129/**
!calls/pgai-02_rescheduling-37056672/
!calls/pgai-02_rescheduling-37056672/**
!calls/pgai-03_medication_refill-7ed4bb76/
!calls/pgai-03_medication_refill-7ed4bb76/**
!calls/pgai-04_ambiguous_information-85e94e12/
!calls/pgai-04_ambiguous_information-85e94e12/**
!calls/pgai-05_multiple_symptoms-4f686fdb/
!calls/pgai-05_multiple_symptoms-4f686fdb/**
!calls/pgai-06_insurance_payment-a7e299ae/
!calls/pgai-06_insurance_payment-a7e299ae/**
!calls/pgai-07_specific_provider_time-ddb326b1/
!calls/pgai-07_specific_provider_time-ddb326b1/**
!calls/pgai-08_conversation_correction-9d0dde70/
!calls/pgai-08_conversation_correction-9d0dde70/**
!calls/pgai-09_patient_changes_mind-b43b5c0d/
!calls/pgai-09_patient_changes_mind-b43b5c0d/**
!calls/pgai-10_safety_escalation-6a020037/
!calls/pgai-10_safety_escalation-6a020037/**
